# GitHub
.github/

# Dependencies
node_modules/

# Private
.idea/
.private/

# Dev
src/
test/

# Config
.gitattributes
.prettierignore
.prettierrc.json
tsconfig.json
tsdown.config.ts
vitest.config.ts
.env
